<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.group.usercenter.mapper.UserMapper">

    <resultMap id="BaseResultMap" type="com.group.usercenter.model.domain.User">
            <id property="userId" column="userId" jdbcType="BIGINT"/>
            <result property="userAccount" column="userAccount" jdbcType="VARCHAR"/>
            <result property="avatarUrl" column="avatarUrl" jdbcType="VARCHAR"/>
            <result property="gender" column="gender" jdbcType="TINYINT"/>
            <result property="userPassword" column="userPassword" jdbcType="VARCHAR"/>
            <result property="phone" column="phone" jdbcType="VARCHAR"/>
            <result property="email" column="email" jdbcType="VARCHAR"/>
            <result property="userStatus" column="userStatus" jdbcType="INTEGER"/>
            <result property="isDelete" column="isDelete" jdbcType="TINYINT"/>
            <result property="updateTime" column="updateTime" jdbcType="TIMESTAMP"/>
            <result property="createTime" column="createTime" jdbcType="TIMESTAMP"/>
            <result property="userRole" column="userRole" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        userId,userAccount,avatarUrl,
        gender,userPassword,phone,
        email,userStatus,isDelete,
        updateTime,createTime,userRole
    </sql>
</mapper>
